.form-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100vw;
  background-color: #1a1d26;
  align-items: center;
  padding: 10px 0;
}

.form-button {
  align-items: center;
  background-color: rgb(102, 51, 153);
}

.flashcard {
  height: 200px;
  width: 300px;
}

.flashcard-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 20px 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
